body {
	font-size: 16px;
	line-height: 150%;
	font-family: NanumGothic, sans-serif;
	margin-top: 16px;
}

body {
	background-color: rgb(240, 240, 240);
}

div.main {
	background-color: white;
	border-radius: 16px;
	border: 1px solid silver;
	padding: 16px;
}

li {
	line-height: 160%;
}

h1 {
	margin-bottom: 24px;
	font-size: 40px;
}

h2, h3, h4 {
	margin-top: 16px;
	margin-bottom: 8px;
}

img.feed_icon {
	position: relative;
	top: -6px;
}
