{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
	<h1>{{ title }}</h1>
	<p>
		<a href="http://feeds.feedburner.com/theyearlyprophet/GGGO"><img src="/assets/img/feed-icon-14x14.png" class="feed_icon"/></a>
		<a href="https://twitter.com/jongman" class="twitter-follow-button" data-show-count="false" data-lang="ko">@jongman 팔로우하기</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<a href="https://twitter.com/share" class="twitter-share-button" data-via="jongman" data-lang="ko">트윗하기</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p>
	<p>
		[<a href="index.html">처음으로</a>]
		[<a href="chronological.html">모든 글 보기</a>]
		[같은 카테고리의 글 보기: {% for category in categories -%}
		{%- if not loop.first %}, {% endif -%}
		<a href="index.html#{{ category }}">{{ category }}</a>
		{%- endfor %}]
	</p>
	<hr/>
	{{ markdown }}
	<hr/>
	<p>
		[<a href="index.html">처음으로</a>]
		[<a href="chronological.html">모든 글 보기</a>]
		[같은 카테고리의 글 보기: {% for category in categories -%}
		{%- if not loop.first %}, {% endif -%}
		<a href="index.html#{{ category }}">{{ category }}</a>
		{%- endfor %}]
	</p>
{% endblock %}
{% block headtail %}
{% endblock %}
