{% extends "base.html" %}
{% block title %} The Yearly Prophet {% endblock %}
{% block body %}
	<h1>The Yearly Prophet</h1>
	<p>
		이 "블로그"는 써진 순서와 상관 없는 짧은 글들의 모음입니다.
	</p>
	<p>
		<a href="https://twitter.com/jongman" class="twitter-follow-button" data-show-count="false" data-lang="ko">@jongman 팔로우하기</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<a href="http://feeds.feedburner.com/theyearlyprophet/GGGO"><img src="/assets/img/feed-icon-14x14.png" class="feed_icon"/></a>
	</p>

	<hr/>

	<h3>최근 글들 보기</h3>

	<ul>
		{% for article in articles[:8] %}
			<li><a href="{{ article['html_name'] }}">{{ article['title'] }}</a></li>
		{% endfor %}
	</ul>

	[<a href="chronological.html">전부 보기</a>]
	<hr/>
	<h3>태그별로 보기</h3>

	{% for category, category_articles in category_indexed.items() %}
		<a id="{{ category }}"/></a>
		<h4>{{ category }}</h4>
		<ul>
			{% for article in category_articles %}
				<li><a href="{{ article['html_name'] }}">{{ article['title'] }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}

{% endblock %}
